name: Build, Test & Store Artifact

permissions:
  contents: write

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: maven

      - name: Build
        run: mvn clean package -DskipTests

      - name: Test
        run: mvn test

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-build
          path: target/*.jar

      - name: Push artifact to ${{ env.ARTIFACT_BRANCH }} branch
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git fetch origin
          git checkout -B ${{ env.ARTIFACT_BRANCH }}

          mkdir -p artifacts
          cp target/*.jar artifacts/

          git add artifacts/
          git commit -m "Store build artifact"
          git push origin ${{ env.ARTIFACT_BRANCH }} --force
